<!DOCTYPE html>
<html>
    <head>
        <title>Vote</title>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script src="{{ url_for('static', filename='private.js') }}"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
            
    </head>
    

    <script>
    
    </script>
    <body>  
                <ul id="add-message">

                </ul>
              
                <form id="new-single">
                        <input type="text" autocomplete="off" autofocus id="message" placeholder="message">

                        <input type="submit" id="new-message">
                </form>

                <hr>
                

    </body>
</html>