<!DOCTYPE html>
<html>
    <head>
        <title>Vote</title>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <!-- <script scr="{{url_for('static',filename='index.js')}}"></script> -->
        <script src="{{ url_for('static', filename='index.js') }}"></script>

        
    </head>
    <body>
    <ul id="tasks">
    </ul>
    <form id="new-task">
        <input type="text" autocomplete="off" autofocus id="task">
        <input type="submit" id="submit">

    </form>
    
    </body>
</html>