<!DOCTYPE html>
<html>
    <head>
        <title>Vote</title>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script src="{{ url_for('static', filename='index.js') }}"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      
        <style>
            #user-color{
                background-color: cadetblue;
            }

            #list-color{
                background-color:gainsboro;
            }

            #tasks{
                background-color: #abc2e8;
            }
        </style>

</head>
    <body>

        <!-- user name -->
            <div class="container" id="user-color">
                    <div class="row">
                        <h2>Enter your Name :</h2>
                      <div class="col">
                        
                            <form id="new-user">
                                    <input type="text" autocomplete="off" autofocus id="user" placeholder="username">
                            
                                    <input type="submit" id="submit-user">
                                </form>
                      </div>
                      
                      </div>
                    </div> 
          
                <hr>
                <hr>
                <hr>
               
        
                <hr>
        



    <h2>---------------------------------------now 1 to 1 ----------------------------</h2>
    
    
    <div class="container">
            <div class="row">
              <div class="col">
                <!-- display message -->
                <ul id="add-message">

                </ul>
              </div>
              <div class="col-6">
                <!-- select user and message  -->
                
                <input id="myfiles" multiple type="file">
                <div id="textdisplay"></div>

                <!-- add user to list to select from -->

                <select id="add-user">
                    
                </select>
                
              </div>
              
            </div>
               
    
    </body>
</html>